{%extends "base.html"%}

{%block head%}
    <title>The unofficial CS SKIN API </title>
{%endblock%}

{%block body%}
    <div class="header">
        <div class="img"></div>
        <div class="title">
            <h1>CS SKIN API</h1>
        </div>
    </div>
    <div class="mode_select">
        <div class="mode">
            <a href="/api/info">API Usage</a>
        </div>
        <div class="mode">
            <a href="loadout">Random Loadout Generator</a>
        </div>
    </div>

    <div class="middle">
        <img width="400" height="200" src="https://i.insider.com/55a67a7a371d22ce178b6624?width=1200&format=jpeg" alt="cat on da pc"  class = "cat_img">
        <p class="smalltext">me making this silly site</p>
        <a href="https://www.github.com/pdeges">github</a>
        <a href="https://www.twitter.com/p_deges">contact?</a>
    </div>
{%endblock%}